html,
body,
ul {
  margin: 0;
}

html,
body,
.container {
  height: 100vh;
  width: 100vw;
}

.container {
  display: grid;
  grid-template-columns: 200px minmax(0, 1fr) 250px;
  grid-template-rows: 48px 70px minmax(0, 1fr) 50px;
  grid-auto-flow: row;
  grid-template-areas:
    "topper topper topper"
    "nav-bar nav-bar nav-bar"
    "side-nav content drawer"
    "side-nav content drawer-toggle";
  transition: all 0.2s ease-in-out;
}

.topper {
  grid-area: topper;
  border: 1px red solid;
}

.nav-bar {
  grid-area: nav-bar;
  border: 1px red solid;
}

.side-nav {
  grid-area: side-nav;
  overflow: auto;
}

.content {
  grid-area: content;
  overflow: auto;
}

.drawer {
  grid-area: drawer;
  overflow: auto;
}

.drawer-toggle {
  grid-area: drawer-toggle;
}

/* Not relevant styling */
button {
  height: 100%;
  width: 10%;
  background-color: none;
  background: none;
  border: none;
}

/* For presentation only, no need to copy the code below */
/*
.container * {
  border: 1px solid red;
  position: relative;
}

.container *:after {
  content: attr(class);
}

*/
